.gela{
    color: blueviolet;
}
.gela1{
    color:red
}
.gela2{
    color: green;
}
.gela3{
    color: aqua;
}
.gela4{
    color: yellow;
}
.gela5{
    color: blue;
}
#gela{
    color: chartreuse;
}
#gela1{
    color:red
}
#gela2{
    color: green;
}
#gela3{
    color: aqua;
}
#gela4{
    color: yellow;
}
#gela5{
    color: blue;
}
