html, body {
    width: 100%;
    overflow-x: hidden;
}
body{    
   background-color: #464646;
}
.f1{
    color: rgb(0, 255, 17);
    position: relative;
    left: 500px;
    font-size: 30px;
    top: 20px;
}
.boxer{
    width: 600px;
    height: 700px;
    background-color: rgb(117, 117, 117);
    position: relative;
    left: 460px;
    top: 70px;
    border-radius: 5px;
}
.github{
    position: relative;
    background-color:rgb(83, 83, 83) ;
    top: -560px;
    left: 560px;
    border: 1px;
    font-size: 80px;
    width:400px;
    font-family: serif;
    border-radius: 5px;
    color: #ffffff;
    
}

.facebook{
   position: relative;
   background-color:rgb(83, 83, 83);
   top: -430px;
   font-size: 80px;
   left: 156px;
   border: 1px;
   width: 400px;
   font-family: serif;
   border-radius: 5px;
   color: #ffffff;
}
.discord{
    position: relative;
    background-color: rgb(83, 83, 83);
    top: -295px;
    font-size: 80px;
    left: -250px;
    border: 1px;
    width: 400px;
    font-family: serif;
    border-radius: 5px;
    color: #ffffff;

}
.discord:hover{
    color: rgb(0, 0, 0);
    background: linear-gradient(to right, rgb(0, 255, 21), rgb(2, 115, 0));
}
.facebook:hover{
    color: black;
    background: linear-gradient(to right, rgb(0, 255, 21), rgb(2, 115, 0));
}
.github:hover{
    color: black;
    background: linear-gradient(to right, rgb(0, 255, 21), rgb(2, 115, 0));;
}
.n1{
    text-decoration: none;
    color: white;
}
.n2{
    text-decoration: none;
    color: white;
}
.n3{
    text-decoration: none;
    color: white;
}
.n1:hover{
    color: black;
}
.n2:hover{
    color: black;
}
.n3:hover{
    color: black;
}
.eror{
    position: relative;
    color: rgb(0, 123, 0);
    top: -900px;
}
.eror:hover{
    color: lime;
}
.gb{
    position: relative;
    background-color: rgb(83, 83, 83);
    top: -295px;
    font-size: 80px;
    left: 560px;
    border: 1px;
    width: 400px;
    font-family: serif;
    border-radius: 5px;
    color: #ffffff;
}
.gb2{
    text-decoration: none;
    color: white;
}
.gb:hover{
    color: black;
    background: linear-gradient(to right, rgb(0, 255, 21), rgb(2, 115, 0));;
}
.gb2:hover{
    color: black;
}
@media (max-width: 1024px) {
    
}
@media (max-width: 1024px) {
    .boxer{
        left: 200px;
    }
    .github{
        left: 300px;
    }
    .facebook{
        left: -100px;
    }
    .discord{
        left: 300px;
        top: -380px;
    }
    .f1{
        left: 230px;
    }
    .eror{
        top: -990px;
    }
    .gb{
        left: 300px;
        top: -370px;
    }
}
@media (max-width: 768px) {
    .boxer{
        left: 100px;
    }
    .github{
        left: 200px;
    }
    .facebook{
        left: 200px;
        top: -500px;
    }
    .discord{
        left: 200px;
        top: -440px;
    }
    .f1{
        left: 140px;
    }
    .eror{
        left: 150px;
        top: -1000px;
    }
    .gb{
        left: 200px;
        top: -430px;
    }
}
@media (max-width: 425px) {
    .boxer{
        left: 10px;
        width: 400px;
    }
    .github{
        left: 60px;
        width: 300px;
    }
    .facebook{
        left: 45px;
        width: 340px;
    }
    .discord{
        left: 60px;
        width: 300px;
    }
    .f1{
        font-size: 20px;
        left: 40px;
        top: 40px;
    }
    .eror{
        top: -970px;
        left: 60px;
    }
    .gb{
        left: 60px;
        width: 300px;
    }
}
@media (max-width: 375px) {
    .boxer{
        left: 0px;
        width: 360px;
    }
    .discord{
        left: 30px;
    }
    .facebook{
        left: 10px;
    }
    .github{
        left: 30px;
    }
    .f1{
        left: 10px;
    }
    .eror{
        left: 30px;
    }
    .gb{
      left: 30px;
    }
}
@media (max-width: 320px) {
    .f1{
        font-size: 17px;
    }
    .eror{
        left: 5px;
    }
    .boxer{
        width: 306px;
    }
    .github{
        width: 200px;
        font-size: 60px;
        left: 50px;
    }
    .facebook{
        width:280px;
        font-size: 60px;
        left: 13px;
    }
    .discord{
        width: 200px;
        font-size: 60px;
        left: 50px;
    }
    .gb{
        font-size: 65px;
        width: 250px;
    }
}
